$offsets-map: (
  center: (x: 0, y: 0),
  top: ( x: 0, y: 1px ),
  top-right: ( x: -1px, y: 1px ),
  right: ( x: -1px, y: 0 ),
  bottom-right: ( x: -1px, y: -1px ),
  bottom: ( x: 0, y: -1px ),
  bottom-left: ( x: 1px, y: -1px ),
  left: ( x: 1px, y: 0 ),
  top-left: ( x: 1px, y: 1px ),
);

$elevation-map: (
  resting: 1,
  pressed: 4,
  floating: 8,
);

@function offset($position, $elevation) {
  $offsets: map-get($offsets-map, $position);
  $x-offset: map-get($offsets, x) * map-get($elevation-map, $elevation);
  $y-offset: map-get($offsets, y) * map-get($elevation-map, $elevation);
  @return $x-offset $y-offset;
}

@function key-shadow($position, $elevation) {
  $factor: map-get($elevation-map, $elevation);
  @return offset($position, $elevation) 2px * $factor rgba(0, 0, 0, 0.2);
}

@function ambient-shadow($position, $elevation) {
  $factor: map-get($elevation-map, $elevation);
  @return offset($position, $elevation) 8px * $factor rgba(0, 0, 0, 0.08),
    0 0 16px * $factor rgba(0, 0, 0, 0.04);
}

* {
  box-sizing: border-box;
}

main {
  padding: 2rem;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  min-height: 8rem;
  margin: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
}

[shadow-sci] {
  box-shadow: key-shadow(center, resting), ambient-shadow(center, resting);
}

@each $pos, $val in $offsets-map {
  [shadow-sci-pos="#{$pos}"] {
    box-shadow: key-shadow($pos, resting), ambient-shadow($pos, resting);

    &[shadow-sci-source="ambient-light-only"] {
      box-shadow: key-shadow($pos, resting);
    }

    &[shadow-sci-source="key-light-only"] {
      box-shadow: ambient-shadow($pos, resting);
    }
  }
}
